<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8"/>
    <title>Spring Security</title>
</head>

<body>
<div sec:authorize="isAuthenticated()" th:align="center">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>

<div th:align="center">

    <h1>Users List</h1>

    <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
        <a th:href="@{/admin/new}">
            <form>
                <input type="button" value="Create New User"/>
            </form>
        </a>
    </div>
    <br/><br/>
    <table th:border="5" th:width="800" th:align="center" th:cellspacing="5" th:bgcolor="bisque">
        <thead>
        <tr th:bgcolor="Plum">
            <th>Profile</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:align="center" th:bgcolor="LightYellow">
            <td>
                <a th:href="@{/user/{id}(id=${user.getId()})}">
                    <form>
                        <input type="button" value="Profile"/>
                    </form>
                </a>
            </td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getLastName()}">Surname</td>
            <td th:text="${user.getUsername()}">Username</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:width="70" th:height="50">
                <div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" th:align="center">
                    <a th:href="@{'/admin/edit/' + ${user.getId()}}">
                        <form>
                            <input type="button" value="Edit"/>
                        </form>
                    </a>
                </div>
            </td>
            <td th:width="70" th:height="50">
                <div sec:authorize="hasAuthority('ADMIN')" th:align="center">
                    <a th:href="@{'/admin/delete/' + ${user.getId()}}">
                        <form>
                            <input type="button" value="Delete"/>
                        </form>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <div>
        <form th:action="@{/logout}" method="post" th:align="center">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>

</body>
</html>