<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin page</title>
</head>

<body>

<div sec:authorize="isAuthenticated()" th:align="center">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>

<div th:align="center">

    <h1>Users list</h1>

    <div sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR')" th:align="center">
        <form th:method="GET" th:action="@{/admin/showPageToAddUser}">
            <input type="submit" value="Create new user"/>
        </form>
    </div>

    <br/><br/>

    <table th:border="5" th:width="800" th:align="center" th:cellspacing="5" th:bgcolor="bisque">
        <thead>
        <tr th:bgcolor="Plum" th:align="center">
            <th>Profile</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:align="center" th:bgcolor="LightYellow">
            <td>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR', 'EDITOR')" th:align="center">
                    <form th:method="GET" th:action="@{/user/{id}(id=${user.getId()})}">
                        <input type="submit" value="Profile"/>
                    </form>
                </div>
            </td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getLastName()}">Surname</td>
            <td th:text="${user.getUsername()}">Username</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:width="70" th:height="50">
                <div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" th:align="center">
                    <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                        <input type="submit" value="Edit"/>
                    </form>
                </div>
            </td>
            <td th:width="70" th:height="50">
                <div sec:authorize="hasAuthority('ADMIN')" th:align="center">
                    <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                        <input type="submit" value="Delete"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <div>
        <form th:method="POST" th:action="@{/logout}" th:align="center">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>