<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8"/>
    <title>Hello</title>
</head>

<body>

<h1 th:align="center">Hello!</h1>

<div>
    <form th:method="GET" th:action="@{/admin}" th:align="center">
        <input th:type="submit" value="Show users"/>
    </form>

    <br>

    <form th:method="POST" th:action="@{/logout}" th:align="center">
        <input type="submit" value="Logout"/>
    </form>
</div>

</body>
</html>