<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create new user</title>
</head>

<body>

<div th:align="center">

    <h1>Enter user data</h1>

    <br>

    <form th:method="POST" th:action="@{/admin/createNewUser}" th:object="${user}">

        <table th:border="0" th:cellpadding="10">
            <tbody>
            <tr th:align="center">
                <td>
                    <label th:for="firstName">Name: </label>
                </td>
                <td>
                    <input type="text" th:field="*{firstName}" id="firstName"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                        <p>Name error</p>
                    </div>
                </td>
            </tr>
            <tr th:align="center">
                <td>
                    <label th:for="lastName">Surname: </label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" id="lastName"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                        <p>Surname error</p>
                    </div>
                </td>
            </tr>
            <tr th:align="center">
                <td>
                    <label th:for="username">Username: </label>
                </td>
                <td>
                    <input type="text" th:field="*{username}" id="username"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        <p>Username error</p>
                    </div>
                </td>
            </tr>
            <tr th:align="center">
                <td>
                    <label th:for="age">Age: </label>
                </td>
                <td>
                    <input type="text" th:field="*{age}" id="age"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                        <p>Age error</p>
                    </div>
                </td>
            </tr>
            <tr th:align="center">
                <td>
                    <label th:for="email">Email: </label>
                </td>
                <td>
                    <input type="text" th:field="*{email}" id="email"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        <p>Email error</p>
                    </div>
                </td>
            </tr>
            <tr th:align="center">
                <td>
                    <label th:for="password">Password: </label>
                </td>
                <td>
                    <input type="text" th:field="*{password}" id="password"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        <p>Password error</p>
                    </div>
                </td>
            </tr>
            <tr th:align="center">
                <td>
                    <label th:for="enabled">Enabled: </label>
                </td>
                <td>
                    <input type="text" th:field="*{enabled}" id="enabled"/>
                </td>
                <td>
                    <div style="color: red" th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">
                        <p>Enabled error</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <input type="submit" value="Add"/>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>