<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>User Profile</title>
</head>

<body>

<h1 th:align="center">User, welcome to your profile!</h1>

<br>

<div>
    <th:block>
        <table th:border="5" th:width="500" th:height="50" th:align="center" th:cellspacing="5" th:bgcolor="bisque">
            <thead>
            <tr th:bgcolor="Plum">
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:align="center" th:bgcolor="LightYellow">
                <td th:text="${showUserProfile.getFirstName()}"></td>
                <td th:text="${showUserProfile.getLastName()}"></td>
                <td th:text="${showUserProfile.getUsername()}"></td>
                <td th:text="${showUserProfile.getAge()}"></td>
                <td th:text="${showUserProfile.getEmail()}"></td>
            </tr>
            </tbody>
        </table>

        <br>

        <form th:method="POST" th:action="@{/logout}" th:align="center">
            <input type="submit" value="Logout"/>
        </form>
    </th:block>
</div>

</body>
</html>